.residencial {
    padding: 20px;
}

p {
    font-weight: bold;
}

#container_garantias {
    margin-bottom: 25px;
}

#container_garantias label {
    margin-right: 10px;
}

.btn-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-submit input {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 200px;
    padding: 20px 40px;
    margin-bottom: 30px;
    font-weight: bold;
}

.btn-submit input:hover {
    background-color: darkblue;
    color: #fff;
}

.disable {
    display: none !important;
}

/* Estilo para a div preview */
#preview {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens sejam quebrados na próxima linha */
    gap: 10px; /* Espaçamento entre cada item */
    margin-top: 10px;
}

/* Estilo para cada wrapper de imagem */
.imageWrapper {
    position: relative; /* Necessário para posicionar o botão de excluir corretamente */
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    justify-content: flex-start; /* Alinha os elementos para iniciar no topo */
}

/* Estilo para as imagens dentro do .imageWrapper */
.imageWrapper img {
    width: 30vw; /* Certifica-se de que a imagem não exceda o wrapper */
    height: 20vh;
    border-radius: 4px; /* Adiciona bordas arredondadas à imagem */
}

/* Estilo para o checkbox */
.highlightCheckbox {
    margin-top: 5px; /* Adiciona uma pequena margem no topo */
}

/* Estilo para o label do checkbox */
label {
    font-size: 17px; /* Tamanho do texto */
}

/* Estilo para o botão de excluir */
.deleteImage {
    position: absolute;
    top: 0; /* Posicionado no topo */
    right: 0; /* Posicionado à direita */
    background-color: rgba(255, 0, 0, 0.7); /* Vermelho semi-transparente */
    color: #fff; /* Texto branco */
    cursor: pointer; /* Mostra o cursor como uma mãozinha */
    border: none; /* Remove bordas padrão do botão */
    padding: 5px 10px; /* Adiciona um pequeno espaçamento interno */
    border-radius: 50%; /* Faz o botão parecer um círculo */
    font-weight: bold; /* Texto em negrito */
    font-size: 14px; /* Tamanho do texto */
    transition: background-color 0.3s; /* Efeito de transição para o hover */
}

/* Efeito de hover para o botão de excluir */
.deleteImage:hover {
    background-color: rgba(255, 0, 0, 0.9); /* Vermelho um pouco mais opaco no hover */
}


